.slidingPuzzle-component {

  .slidingPuzzle-widget {

    .button {
      outline: none;
      text-decoration: none;
      padding: @button-padding;
      color: @button-text-color;
      background-color: @button-color;
      display: none;
      margin-top:8px;
    }

    .slidingPuzzle-item {
      padding-bottom: @button-padding-top;
    }

    img.slidingPuzzle-source-graphic {
      display: none;
    }

  }

}

